sessions/
*.log
scratch/
manager/data/portraits/
manager/data/bot_update_state.json
manager/data/manager_update_state.json
manager/data/manager_update_pending.json
manager/data/update_backup/
manager/data/manager_update_failed.json
